<!--Product Deal Card STARTS
<div class="">-->
    <div class="card p-3 rounded-0 mt-2 mb-2">
      <h5 class="card-title pl-2 truncate-1line">{{deal.title}}</h5>
          <a><img [src]="deal.img" class="card-img-top rounded-0" [alt]="deal.title"></a>
        <div class="card-body">
             <p class="card-text truncate-1line">{{deal.description}}</p>
              <span class="truncate-1line">
                <a href="#">{{deal.linkDesc}}</a>
              </span>
         </div>
    </div>
<!--</div>
Product Deal Card ENDS-->