<!--Product Deal Card STARTS
<div class="">-->
    <div class="card p-3 rounded-0 mt-2 mb-2">
      <h5 class="card-title pl-2 truncate-1line">{{deal.title}}</h5>
          <a><img [src]="deal.img" class="card-img-top rounded-0" [alt]="deal.title"></a>
        <figcaption class="text-wrap">
             <p class="card-text truncate-1line text-muted">{{deal.description}}</p>
                <a class="card-text" href="#">{{deal.linkDesc}}</a>
        </figcaption>
    </div>
<!--</div>
Product Deal Card ENDS-->