<!--Product Card STARTS-->
<div class="card p-2 rounded-0 mt-2 mb-2">
  <img src="C:\Users\Anbumani\git\EComFramwork\src\main\webapp\content\images\ecom\products\p7.jpg" class="card-img-top rounded-0" alt="...">
   <div class="card-body">
   <a href="#">Solimo JiffyTransfer 32GB USB 3.0 Pendrive</a>
     <div>
            <span><i class="text-warning fa fa-star"></i></span>
                 <span><i class="text-warning fa fa-star"></i></span>
               <span><i class="text-warning fa fa-star"></i></span>
               <span><i class="text-warning fa fa-star"></i></span>
     <span><i class="text-warning fa fa-star"></i></span>
     <span class="text-sm"> 23</span>
   </div>
   <div class="text-orange">
     <span> <i class="fa fa-inr" aria-hidden="true"></i> 599</span>
   </div>
    </div>
</div>
<!--Product Card ENDS-->