<section class="container-fluid mt-2 mb-2 deals-card">
  <div class="row">
    <div class="col-3 col-xl-3 col-md-4 col-lg-2 pad-overide">
           <div class="card p-3 rounded-0 mt-2 mb-2">
             <h5 class="card-title pl-2 truncate-1line">Under 400 | Free delivery</h5>
               <img src="C:\Users\Anbumani\git\EComFramwork\src\main\webapp\content\images\ecom\products\p6.jpg" class="card-img-top rounded-0" alt="...">
                     <div class="card-body">
                     <p class="card-text truncate-1line">Deals under 499/-</p>
            <a href="#">See all</a>
              </div>
        </div>
    </div>
    <div class="col-3 col-xl-3 col-md-4 col-lg-2 pad-overide"> 
          <div class="card p-3 rounded-0 mt-2 mb-2"> 
                <h5 class="card-title pl-2">Recharges, bills & food</h5>
                      <img src="C:\Users\Anbumani\git\EComFramwork\src\main\webapp\content\images\ecom\products\p7.jpg" class="card-img-top rounded-0" alt="...">
                    <div class="card-body">
                         <p class="card-text truncate-1line">Latest collections.</p>
                       <a href="#">Explore all</a>
                     </div>
            </div>
    </div>
    <div class="col-3 col-xl-3 col-md-4 col-lg-2 pad-overide">
      <div class="card p-3 rounded-0 mt-2 mb-2">
             <h5 class="card-title pl-2 truncate-1line">Popsugar | Just launched</h5>
             <img src="C:\Users\Anbumani\git\EComFramwork\src\main\webapp\content\images\ecom\products\p6.jpg" class="card-img-top rounded-0" alt="...">
             <div class="card-body">
                   <p class="card-text truncate-1line">Trending formals</p>
                   <a href="#">See more</a>
             </div>
      </div>
    </div>
    
  
    <div class="col-3 col-xl-3 col-md-4 col-lg-2 pad-overide">
           <div class="card p-3 rounded-0 mt-2 mb-2">
             <h5 class="card-title pl-2 truncate-1line">Card title</h5>
               <img src="C:\Users\Anbumani\git\EComFramwork\src\main\webapp\content\images\ecom\products\p6.jpg" class="card-img-top rounded-0" alt="...">
                     <div class="card-body">
                     <p class="card-text truncate-1line">Deals under 499/-</p>
            <a href="#">See all</a>
              </div>
        </div>
    </div>
    <!--Product Card STARTS-->
    <div class="col-3 col-xl-3 col-md-4 col-lg-2 pad-overide">
          <div class="card p-3 rounded-0 mt-2 mb-2">
                <h5 class="card-title pl-2 truncate-1line">Up to 30% off | Skincare</h5>
                      <img src="C:\Users\Anbumani\git\EComFramwork\src\main\webapp\content\images\ecom\products\p7.jpg" class="card-img-top rounded-0" alt="...">
                    <div class="card-body">
                         <p class="card-text truncate-1line">Latest collections.</p>
                       <a href="#">Explore all</a>
                     </div>
            </div>
    </div>
    <!--Product Card ENDS-->
    <div class="col-3 col-xl-3 col-md-4 col-lg-2 pad-overide">
      <div class="card p-3 rounded-0 mt-2 mb-2">
             <h5 class="card-title pl-2 truncate-1line">Deodorants from top brands</h5>
             <img src="C:\Users\Anbumani\git\EComFramwork\src\main\webapp\content\images\ecom\products\p6.jpg" class="card-img-top rounded-0" alt="...">
             <div class="card-body">
                   <p class="card-text truncate-1line">Trending formals</p>
                   <a href="#">See more</a>
             </div>
      </div>
    </div>
    <div class="col-3 col-xl-3 col-md-4 col-lg-2 pad-overide">
          <div class="card p-3 rounded-0 mt-2 mb-2">
                <h5 class="card-title pl-2 truncate-1line">Up to 30% off | Hair care</h5>
                      <img src="C:\Users\Anbumani\git\EComFramwork\src\main\webapp\content\images\ecom\products\p7.jpg" class="card-img-top rounded-0" alt="...">
                    <div class="card-body">
                         <p class="card-text truncate-1line">Latest collections.</p>
                       <a href="#">Explore all</a>
                     </div>
            </div>
    </div>
    <div class="col-3 col-xl-3 col-md-4 col-lg-2 pad-overide">
      <div class="card p-3 rounded-0 mt-2 mb-2">
             <h5 class="card-title pl-2 truncate-1line">Card title</h5>
             <img src="C:\Users\Anbumani\git\EComFramwork\src\main\webapp\content\images\ecom\products\p6.jpg" class="card-img-top rounded-0" alt="...">
             <div class="card-body">
                   <p class="card-text truncate-1line">Trending formals</p>
                   <a href="#">See more</a>
             </div>
      </div>
    </div>
    <div class="col-md-4 d-xl-none">
      <div class="card p-3 rounded-0 mt-2 mb-2 pad-overide">
             <h5 class="card-title pl-2 truncate-1line">For all your pet's needs</h5>
             <img src="C:\Users\Anbumani\git\EComFramwork\src\main\webapp\content\images\ecom\products\p6.jpg" class="card-img-top rounded-0" alt="...">
             <div class="card-body">
                   <p class="card-text truncate-1line">Trending formals</p>
                   <a href="#">See more</a>
             </div>
      </div>
    </div>
    
  </div>	
</section>