<figure class="card card-product border-0 h-100">
  <div class="img-wrap"><img src="C:\Users\Anbumani\Downloads\bootstrap-ecommerce-uikit\bootstrap-ecommerce-uikit\ui-ecommerce\images\items\5.jpg"></div>
  <figcaption class="info-wrap card-body">
      <h4 class="title">Product name goes here</h4>
      <p class="desc">Some small description goes heresdfasfasfasfasfasfasfasafasfaf</p>
      <div class="rating-wrap">
        <ul class="rating-stars">
          <li style="width:80%" class="stars-active"> 
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
          </li>
          <li>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
          </li>
        </ul>
        <div class="label-rating">132 reviews</div>
        <div class="label-rating">154 orders </div>
      </div> <!-- rating-wrap.// -->
  </figcaption>
  <div class="card-footer">
      <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>	
      <div class="price-wrap h5">
        <span class="price-new">$1280</span> <del class="price-old">$1980</del>
      </div> <!-- price-wrap.// -->
  </div> <!-- bottom-wrap.// -->
</figure>