<!--<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 sale-product">
            <div *ngIf="images">
                <div class="top-title">Hot Deals</div>
                    <owl-carousel-o [options]="customOptions" #owlCar>
                        <ng-container *ngFor="let image of images">
                            <ng-template carouselSlide [id]="image.id" [width]="image.width">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img [src]="image.src" class="img-fluid" alt="Berry Lace Dress">
                                    </div>
                                <h3><a href="shop-item.html">{{image.name}}</a></h3>
                                <div class="pi-price">{{image.price}}</div>
                                <a class="text-danger" matTooltip="Add to your wishlist">
                                    <mat-icon (click)="addToWishlist()">favorite</mat-icon>
                                </a>
                                <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                                <div *ngIf="image.saleIcon === 'y'" class="sticker sticker-sale"></div>
                                <div *ngIf="image.newIcon === 'y'" class="sticker sticker-new"></div>
                                </div>
                                Controls
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
        </div>
    </div>
    </div>-->
    <div class="">
        <div class="row"> 
        <div class="col-sm-3 py-2">
            <figure class="card card-product h-100">
                <div class="img-wrap"><img src="C:\Users\Anbumani\Downloads\bootstrap-ecommerce-uikit\bootstrap-ecommerce-uikit\ui-ecommerce\images\items\1.jpg"></div>
                <figcaption class="info-wrap card-body">
                        <h4 class="title">Another name of item</h4>
                        <p class="desc">Some small description goes here</p>
                        <div class="rating-wrap">
                            <ul class="rating-stars">
                                <li style="width:80%" class="stars-active"> 
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
                                </li>
                            </ul>
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="card-footer">
                    <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>	
                    <div class="price-wrap h5">
                        <span class="price-new">$1280</span> <del class="price-old">$1980</del>
                    </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col // -->
        <div class="col-sm-3 py-2">
            <figure class="card card-product border-0 h-100">
                <div class="img-wrap"><img src="C:\Users\Anbumani\Downloads\bootstrap-ecommerce-uikit\bootstrap-ecommerce-uikit\ui-ecommerce\images\items\2.jpg"> </div>
                <figcaption class="info-wrap card-body">
                        <h4 class="title">Good product</h4>
                        <p class="desc">Some small description goes here</p>
                        <div class="rating-wrap">
                            <ul class="rating-stars">
                                <li style="width:80%" class="stars-active"> 
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
                                </li>
                            </ul>
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="card-footer">
                        <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>	
                        <div class="price-wrap h5">
                            <span class="price-new">$1280</span> <del class="price-old">$1980</del>
                        </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col // -->
        <div class="col-sm-3 py-2">
            <figure class="card card-product border-0 h-100">
                <div class="img-wrap"><img src="C:\Users\Anbumani\Downloads\bootstrap-ecommerce-uikit\bootstrap-ecommerce-uikit\ui-ecommerce\images\items\3.jpg"></div>
                <figcaption class="info-wrap card-body">
                        <h4 class="title">Product name goes here</h4>
                        <p class="desc">Some small description goes heresdfasfasfasfasfasfasfasafasfaf</p>
                        <div class="rating-wrap">
                            <ul class="rating-stars">
                                <li style="width:80%" class="stars-active"> 
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
                                </li>
                            </ul>
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="card-footer">
                        <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>	
                        <div class="price-wrap h5">
                            <span class="price-new">$1280</span> <del class="price-old">$1980</del>
                        </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col // --> 
        <div class="col-sm-3 py-2">
            <figure class="card card-product border-0 h-100">
                <div class="img-wrap"><img src="C:\Users\Anbumani\Downloads\bootstrap-ecommerce-uikit\bootstrap-ecommerce-uikit\ui-ecommerce\images\items\3.jpg"></div>
                <figcaption class="info-wrap card-body">
                        <h4 class="title">Product name goes here</h4>
                        <p class="desc">Some small description goes heresdfasfasfasfasfasfasfasafasfaf</p>
                        <div class="rating-wrap">
                            <ul class="rating-stars">
                                <li style="width:80%" class="stars-active"> 
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
                                </li>
                            </ul>
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="card-footer">
                        <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>	
                        <div class="price-wrap h5">
                            <span class="price-new">$1280</span> <del class="price-old">$1980</del>
                        </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col // -->
        <div class="col-sm-3 py-2">
            <figure class="card card-product border-0 h-100">
                <div class="img-wrap"><img src="C:\Users\Anbumani\Downloads\bootstrap-ecommerce-uikit\bootstrap-ecommerce-uikit\ui-ecommerce\images\items\5.jpg"></div>
                <figcaption class="info-wrap card-body">
                        <h4 class="title">Product name goes here</h4>
                        <p class="desc">Some small description goes heresdfasfasfasfasfasfasfasafasfaf</p>
                        <div class="rating-wrap">
                            <ul class="rating-stars">
                                <li style="width:80%" class="stars-active"> 
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
                                </li>
                            </ul>
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="card-footer">
                        <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>	
                        <div class="price-wrap h5">
                            <span class="price-new">$1280</span> <del class="price-old">$1980</del>
                        </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col // -->
        </div>
        