<div class="thumbnail p-2">
<figure class="card card-product">
		<div class="img-wrap"> 
			<img [src]="product.img">
			<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
		</div>
		<figcaption class="info-wrap">
			<a href="#" class="title">{{product.name}}</a>
			<div class="action-wrap">
				<a href="#" class="btn btn-primary btn-sm float-right"> Order </a>
				<div class="price-wrap h5">
					<span class="price-new"><i class="fa fa-inr" aria-hidden="true"></i>{{product.price}}</span>
					<del class="price-old"><i class="fa fa-inr" aria-hidden="true"></i>{{product.oldprice}}</del>
				</div> <!-- price-wrap.// -->
			</div> <!-- action-wrap -->
		</figcaption>
  </figure> <!-- card // -->
</div>