<jhi-image-slider [images]="images"></jhi-image-slider>
<jhi-deals [deals]="deals"></jhi-deals>
<jhi-product-carousel [products]="products"></jhi-product-carousel>
<div style="text-align:center"><a><img class="img-fluid" src="C:\Users\Anbumani\Downloads\Home-Products._CB454409463_.jpg"></a></div>
<jhi-deals [deals]="deals2"></jhi-deals>
<jhi-product-carousel-all [products]="products"></jhi-product-carousel-all>
<!--<jhi-product-card></jhi-product-card>
<jhi-new-arrivals></jhi-new-arrivals>
<jhi-product-card></jhi-product-card>
<jhi-product-list></jhi-product-list>
<jhi-product-navbar-side></jhi-product-navbar-side>
<jhi-carousel-product-card></jhi-carousel-product-card>-->
