@import '../../content/scss/global.scss';
/* Carousel Titles */
.carousel-title-v1 {
  font-size: 5rem;
  font-weight: 600;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  line-height: 1.4;
  color: chocolate;
  text-align: center;
  text-transform: uppercase;
  @include for-phone-only {
    font-size: 1rem;
  }
  @include for-tablet-portrait-up {
    font-size: 1rem;
  }
  @include for-tablet-landscape-up {
    font-size: 3rem;
  }
  @include for-desktop-up {
    font-size: 4rem;
  }
  @include for-big-desktop-up {
    font-size: 5rem;
  }
}

.carousel-title-v2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.4;
  color: indigo;
  text-align: center;
  @include for-phone-only {
    font-size: 0.75rem;
  }
  @include for-tablet-portrait-up {
    font-size: 1rem;
  }
  @include for-tablet-landscape-up {
    font-size: 1.5rem;
  }
  @include for-desktop-up {
    font-size: 1.5rem;
  }
  @include for-big-desktop-up {
    font-size: 2rem;
  }
}
