<div>
    <h2 id="page-heading">
        <span>Product Sub Categories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-sub-category" [routerLink]="['/product-sub-category/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Product Sub Category
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="productSubCategories?.length === 0">
        <span>No productSubCategories found</span>
    </div>
    <div class="table-responsive" *ngIf="productSubCategories?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Sub Category Id</span></th>
            <th><span>Category Id</span></th>
            <th><span>Sub Category</span></th>
            <th><span>Active</span></th>
            <th><span>Product Category</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productSubCategory of productSubCategories ;trackBy: trackId">
                <td><a [routerLink]="['/product-sub-category', productSubCategory.id, 'view' ]">{{productSubCategory.id}}</a></td>
                <td>{{productSubCategory.sub_category_id}}</td>
                <td>{{productSubCategory.category_id}}</td>
                <td>{{productSubCategory.sub_category}}</td>
                <td>{{productSubCategory.active}}</td>
                <td>
                    <div *ngIf="productSubCategory.product_categoryId">
                        <a [routerLink]="['../product-category', productSubCategory.product_categoryId , 'view' ]" >{{productSubCategory.product_categoryProduct_category}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/product-sub-category', productSubCategory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-sub-category', productSubCategory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product-sub-category', { outlets: { popup: productSubCategory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
